/* Form */
.form {
  width: 50%;
  padding: 20px;
}
.form input,
select,
textarea {
  border: none;
}
/* Form_제목 */
.form .title-form #title {
  width: 100%;
  height: 66px;
  font-size: 3em;
  padding: 10px;
}
.form .title-form #title::placeholder {
  color: rgb(184, 184, 184);
  font-weight: bold;
}

/* Form_정보*/
.form .title-form .info {
  display: flex;
  width: 100%;
}

.form .title-form .info div {
  border-right: 1px solid rgb(196, 196, 196);
}
.form .title-form .info div:nth-of-type(3) {
  border-right: none;
}
/* Form_이름 */
.form .title-form .info .name {
  width: 50%;
}
.form .title-form .info .name input {
  width: 100%;
  height: 25px;
  padding: 10px;
}
/* Form_카테고리 */
.form .title-form .info .category {
  width: 50%;
}
.form .title-form .info .category select {
  width: 100%;
  height: 25px;
  color: rgb(173, 173, 173);
}
/* From_이미지*/

.form .title-form .img input {
  width: 100%;
  height: 25px;
  padding: 10px;
}

/* Form_내용 */
.form .detail-form textarea {
  width: 100%;
  height: 500px;
  /* overflow: scroll; */
  resize: none;
  padding: 10px;
  font-size: 130%;
}
.form .detail-form textarea::placeholder {
  color: rgb(173, 173, 173);
  font-style: italic;
}
form button {
  padding: 15px;
  width: 30%;
  margin: 10px 0;
  border: none;
  border-radius: 8px;
  font-size: 110%;
  background-color: rgb(37, 151, 37);
  color: white;
}
form button:hover {
  background-color: rgb(19, 100, 19);
}

@media screen and (max-width: 1179px) {
  .form {
    width: 60%;
  }
}

/* 모바일 모드 */
@media screen and (max-width: 768px) {
  .form {
    width: 80%;
  }
  .form .title-form .info {
    flex-direction: row;
  }
}
@media screen and (max-width: 530px) {
  .form .title-form #title {
    font-size: 2.2em;
  }

  .form {
    width: 100%;
  }

  /* Form_내용 */
  .form .detail-form textarea {
    height: 400px;
  }
  form button {
    width: 100%;
  }
}

/*모달*/
.dialog {
  min-width: 173px;
  margin: 0 auto;
  margin-top: 170px;
  text-align: center;
  padding: 40px;
  border: 0;
  border-radius: 8px;
}
.dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
}
.dialog h3 {
  width: 100%;
}
.dialog button {
  background: rgb(37, 151, 37);
  color: white;
  font-size: 1.1em;
  margin-top: 20px;
  border: none;
  border-radius: 8px;
  padding: 10px;
}
